@import '@fontsource/space-mono/400.css';
@import '@fontsource/space-mono/700.css';

@import "tailwindcss";

body {
  font-family: var(--font-space-mono), monospace;
}

@theme {
  --font-space-mono: "Space Mono", monospace;
  --font-sans: "Space Mono", monospace;

  --text-preset-1: 3rem;
  --text-preset-1--line-height: 4.4375rem;
  --text-preset-1--letter-spacing: -0.0625rem;
  --text-preset-1--font-weight: 700;

  --text-preset-2: 2rem;
  --text-preset-2--line-height: 2.9375rem;
  --text-preset-2--letter-spacing: -0.041875rem;
  --text-preset-2--font-weight: 700;

  --text-preset-3: 1.5rem;
  --text-preset-3--line-height: 2.25rem;
  --text-preset-3--letter-spacing: 0;
  --text-preset-3--font-weight: 700;

  --text-preset-4: 1.25rem;
  --text-preset-4--line-height: 1.875rem;
  --text-preset-4--letter-spacing: 0;
  --text-preset-4--font-weight: 700;

  --text-preset-5: 1rem;
  --text-preset-5--line-height: 1.5rem;
  --text-preset-5--letter-spacing: 0;
  --text-preset-5--font-weight: 700;

  --text-preset-6: 0.8125rem;
  --text-preset-6--line-height: 1.1875rem;
  --text-preset-6--letter-spacing: 0;
  --text-preset-6--font-weight: 700;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-600: #3d6666;
  --color-grey-550: #547878;
  --color-grey-500: #5e7a7d;
  --color-grey-400: #7f9d9f;
  --color-grey-300: #9ebbbd;
  --color-grey-200: #c5e4e7;
  --color-grey-50: #f3f9fa;

  --color-green-900: #00474b;
  --color-green-800: #085c61;
  --color-green-750: #0d686d;
  --color-green-400: #26c2ae;
  --color-green-200: #9fe8df;

  --color-orange-400: #e17052;
}
